.home-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-content {
  width: 50%;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
}

.home-img {
  padding: 2rem 0;
}
.text-subtile {
  color: #828f99;
  font-family: "Nunito Sans", sans-serif;
  width: 80%;
}

/* //// for Tab */
@media screen and (max-width: 1024px) {
  section {
    padding: 0;
  }
  .home-flex {
    flex-direction: column;
  }
  .home-content {
    width: 95%;
    margin: 0 auto;
  }
  .home-img {
    padding: 4rem 0;
    width: 80%;
  }
}

/* ////for MOBILE  */
@media screen and (max-width: 600px) {
  section {
    padding: 0;
  }
  .home-content {
    width: 95%;
    margin: 0 auto;
  }
  .home-img {
    padding: 4rem 0;
    width: 80%;
  }
  .text-subtile {
    color: #828f99;
    font-family: "Nunito Sans", sans-serif;
    width: 95%;
  }
}
