.client-section {
  padding: 4rem 0;
}
.bg-clients .client-images img {
  opacity: 0.5;
}

.clients-summary-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.row1 {
  padding: 4rem 0;
  /* background-color: red; */
  justify-content: space-around;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Responsive */

/* //// for Tab */
@media screen and (max-width: 1024px) {
}
/* ////for MOBILE  */
@media screen and (max-width: 600px) {
}
