.services-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-content-heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.services-content-para {
  color: var(--color-text-subtitle);
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
}

.cards-container {
  /* background-color: gray; */
  margin: 3rem 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 5rem;
}

.card {
  border: 1px solid rgb(165, 159, 159);
  padding: 1.3rem;
  margin: 1.2rem;
  box-shadow: 0 5px 30px -10px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.card-image-container {
  width: 55px;
  height: 55px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(30, 165, 154, 0.1);
}

.card-image {
  height: 28px;
  width: 28px;
}

.card-heading {
  margin-top: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: "Nunito Sans", sans-serif;
}

.card-para {
  color: var(--color-text-subtitle);
  margin-top: 1rem;
  font-family: "Nunito Sans", sans-serif;
}

.card-link {
  color: var(--color-btn-bg);
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

.forward-icon {
  height: 16px;
  width: 16px;
  font-weight: 500;
  margin-left: 10px;
}

/* //////////////whychooseus */

.services-details-section {
  padding-top: 1.5rem;
  margin-top: 3rem;
  display: flex;
  /* background-color: green; */
  padding: 0 6rem;
}

.services-details-subheading {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
}

.services-details-heading {
  line-height: 1.4;
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
}
.services-details-article {
  width: 78%;
  padding: 1.5rem 0;
  /* background-color: rgb(174, 119, 119); */
}
.service-details-description {
  line-height: 1.4;
  color: var(--color-text-subtitle);
  margin-top: 1rem;
  width: 85%;
}

.service-details-btn {
  margin-top: 1.5rem;
  color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-bg);
}

.service-details-cards-container {
  display: flex;
  flex-direction: column;
}

.service-detail-card {
  display: flex;
  align-items: center;
  /* background-color: rgb(229, 223, 223); */
}

.service-detail-card-box {
  padding: 0.5rem;
  margin: 0.6rem;
  /* padding: 13px 20px; */
  border-radius: 10px;
  background-color: rgba(98, 119, 210, 0.1);
  /* text-align: center;
  align-self: center;
  align-items: center;
  justify-items: center; */
  border: 1px solid black;
}

.service-detail-card-box-total-value {
  font-size: 1.75rem;
  color: var(--color-btn-bg);
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.service-detail-card-box-total-plus {
  font-size: 1.5rem;
  position: relative;
  top: -8px;
  color: #1ea59a;
  font-weight: 700;
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;

  text-align: center;
}

.service-detail-card-box-type {
  color: #828f99;
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0;
  /* line-height: 1; */
  text-align: center;
}

.service-detail-card-description {
  color: #828f99;
  font-size: .9rem;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

/* Responsive */

/* //// for Tab */
@media screen and (max-width: 1024px) {
  .services-content {
    /* background:gray; */
    padding: 1rem;
  }
  .services-content-para {
    width: 95%;
  }
  .cards-container {
    flex-direction: column;
    margin: 1rem 0;
  }
  .cards-container {
    padding: 0;
  }

  .services-details-section {
    flex-direction: column;
    padding-top: 1.5rem;
    margin-top: 2rem;
    display: flex;
    padding: 0 1.5rem;
  }
  .services-details-article {
    width: 95%;
    padding: 0.5rem 0;
    /* background-color: rgb(174, 119, 119); */
  }
  .service-details-description {
    /* line-height: 1; */
    color: var(--color-text-subtitle);
    margin-top: 1rem;
    width: 100%;
    /* text-align: center; */
  }
}

/* ////for MOBILE  */
@media screen and (max-width: 600px) {
  .services-content {
    padding: 0.5rem;
  }
  .cards-container {
    flex-direction: column;
    margin: 0.5rem 0;
  }
  .services-content-para {
    width: 95%;
  }
}
