.nav-links-section {
  /* position: fixed; */
  width: 100%;
  z-index: 999;
  background-color: #f0f9fa;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  margin: 0 140px;
  background-color: #f0f9fa;
  padding: 0.5rem 0;
  align-items: center;
}
.logo-image-container {
  align-self: center;
}

.logo-image {
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link-anchor {
  padding: 0.5rem 1rem;
  line-height: 1.625rem;
  color: #828f99;
  font-weight: 600;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.625;
}

.nav-link-anchor:hover {
  color: #1ea59a;
}

.signup-btn {
  background-color: rgba(30, 165, 154, 0.25);
  color: #1ea59a;
  padding: 0.6rem 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  margin-left: 5rem;
}

.close,
.hamburger {
  display: none;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  header {
    position: fixed;
    background-color: transparent;
  }

  .nav-links-section {
    margin: 0;
    padding: 0;
  }

  .fit-window-height {
    height: 100vh;
  }

  .nav-links-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav-links {
     
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 10px;
    margin: 0;
    width: 100%;
  }

  .menu-icon {
    height: 22px;
    width: 22px;
    cursor: pointer;
    /* background-color: yellow; */
  }

  .flex-display {
    display: flex;
  
  }

  .close,
  .hamburger {
    
    text-align: center;
margin: 0.8rem 0;
    /* background-color: red; */
    width: 10%;
    /* padding: 0 .5rem; */
  }

  .nav-link-anchor {
   
    /* background-color: pink; */

  }

  .logo-image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .nav-link-li {
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .signup-btn {
    margin: 0;
    align-self: center;
  }

  .show-class {
    display: block;
  }
}
