.carousal-section {
  padding: 4rem 0;
}
.team-carousel {
  display: flex;
  padding: 1rem 6rem;
}

.team-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-card-detail {
  width: 45%;
  /* background-color: red; */
}
.carosual-subtitle {
  width: 90%;
  font-size: 0.9rem;
  font-family: "Nunito Sans", sans-serif;
  margin: 0.6rem 0;
}
.team-box,
.team-badge {
  padding: 3px 10px;
  position: relative;
  display: inline-block;
}

.social-media-links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 5px;
}

.social-media-link-container {
  width: 38px;
  height: 38px;
  background-color: #f0f9fa;
  border-radius: 50%;
  border: 2px solid #dbf1f1;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.social-media-logo {
  height: 16px;
  width: 16px;
}

.social-media-link {
  align-self: center;
}

.carousel-btn-image {
  height: 20px;
  width: 20px;
}

.carousel-btn-section {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* background-color: pink; */
}

/* Responsive */

/* //// for Tab */
@media screen and (max-width: 1024px) {
  .carousal-section {
    padding: 2rem 0;
    justify-items: center;
    /* background-color: pink; */
  }
  .team-carousel {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .team-card-detail {
    width: 50%;
    /* background-color: red; */
  }
  
}
/* ////for MOBILE  */
@media screen and (max-width: 600px) {
  .carousal-section {
    padding: 2rem 0;
    justify-items: center;
    /* background-color: red; */
  }
  .team-carousel {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    flex-wrap: wrap;
  }
  .team-card-detail {
    width: 90%;
    /* background-color: red; */
  }
  
}
